
body {
    font-family: "Space Mono", monospace;
}

h1 {
    margin-left: 10px;
    font-size: 2.5rem !important;
    color: $primary-color !important;
    font-weight: bold !important;
    animation-duration: 6s;
    animation-name: aparecer;
}

