%common-styles {
    display: flex;
    justify-content: center;
}

%common-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: $border;
    border-radius: 4px;
    box-sizing: border-box;
}

%common-submit {
    background-color: $background-color2;
    color: $text-color;
    padding: 10px 20px;
    border: $border;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        background-color: darken($background-color2, 10%);
    }
}