$primary-color: #c52c2c;
$secondary-color: #333;
$background-color: #fff;
$text-color: white;
$secondnav-color: darkblue;
$background-color2: #45a049;
$border: 1px solid #ccc;
$border2: 2px solid #45a049;
$font-sizes: (
  verysmall: 14px,
  small: 16px,
  notthatsmall: 18px,
  almostmed: 24px,
  medium: 30px
);